## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import os
import requests
import gmaps

# Import API key
from config import api_key

In [17]:
# Configure gmaps API key
#gmaps.configure(api_key=g_key)

NameError: name 'g_key' is not defined

# 1. Import the WeatherPy_database.csv file.

In [4]:
load_file = os.path.join("..","Weather_Database","WeatherPy_Database.csv")
city_data_df = pd.read_csv(load_file)
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description
0,0,Hobart,AU,-42.8794,147.3294,49.26,75,40,1.99,scattered clouds
1,1,Pakokku,MM,21.3333,95.1000,79.59,82,100,9.46,overcast clouds
2,2,Lisakovsk,KZ,52.5369,62.4936,67.51,76,22,5.82,few clouds
3,3,Turukhansk,RU,65.8167,87.9833,59.90,76,44,6.06,scattered clouds
4,4,Mama,RU,58.3106,112.8986,57.81,86,100,3.38,overcast clouds

# 2. Prompt the user to enter minimum and maximum temperature criteria

In [24]:
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 45
What is the maximum temperature you would like for your trip? 55

# 3. Filter the city_data_df DataFrame

In [26]:
# using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description
0,0,Hobart,AU,-42.8794,147.3294,49.26,75,40,1.99,scattered clouds
12,12,Mendoza,AR,-32.8908,-68.8272,54.73,33,0,4.09,clear sky
18,18,Iqaluit,CA,63.7506,-68.5145,46.76,89,100,5.44,overcast clouds
33,33,Paamiut,GL,61.9940,-49.6678,45.90,96,100,4.21,light rain
38,38,New Norfolk,AU,-42.7826,147.0587,48.92,84,42,2.93,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
676,676,Severobaykalsk,RU,55.6500,109.3167,54.68,73,72,0.74,broken clouds
680,680,Viedma,AR,-40.8135,-62.9967,52.00,48,2,16.37,clear sky
695,695,Tonstad,NO,58.6626,6.7169,53.24,87,88,2.48,overcast clouds
696,696,Broken Hill,AU,-31.9500,141.4333,54.82,65,0,19.98,clear sky
698,698,Yar-Sale,RU,66.8333,70.8333,54.73,98,100,14.85,light rain

# 4. Clean data

In [27]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current description    0
dtype: int64

In [28]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description
0,0,Hobart,AU,-42.8794,147.3294,49.26,75,40,1.99,scattered clouds
12,12,Mendoza,AR,-32.8908,-68.8272,54.73,33,0,4.09,clear sky
18,18,Iqaluit,CA,63.7506,-68.5145,46.76,89,100,5.44,overcast clouds
33,33,Paamiut,GL,61.9940,-49.6678,45.90,96,100,4.21,light rain
38,38,New Norfolk,AU,-42.7826,147.0587,48.92,84,42,2.93,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
676,676,Severobaykalsk,RU,55.6500,109.3167,54.68,73,72,0.74,broken clouds
680,680,Viedma,AR,-40.8135,-62.9967,52.00,48,2,16.37,clear sky
695,695,Tonstad,NO,58.6626,6.7169,53.24,87,88,2.48,overcast clouds
696,696,Broken Hill,AU,-31.9500,141.4333,54.82,65,0,19.98,clear sky
698,698,Yar-Sale,RU,66.8333,70.8333,54.73,98,100,14.85,light rain

In [29]:
preferred_cities_df.count()

City_ID                99
City                   99
Country                99
Lat                    99
Lng                    99
Max Temp               99
Humidity               99
Cloudiness             99
Wind Speed             99
Current description    99
dtype: int64

# 5. Set hotels column

In [30]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,Hobart,AU,49.26,scattered clouds,-42.8794,147.3294,
12,Mendoza,AR,54.73,clear sky,-32.8908,-68.8272,
18,Iqaluit,CA,46.76,overcast clouds,63.7506,-68.5145,
33,Paamiut,GL,45.90,light rain,61.9940,-49.6678,
38,New Norfolk,AU,48.92,scattered clouds,-42.7826,147.0587,
41,Mataura,NZ,45.48,light rain,-46.1927,168.8643,
42,Busselton,AU,54.52,overcast clouds,-33.6500,115.3333,
43,Usinsk,RU,46.63,broken clouds,65.9939,57.5281,
52,Bluff,NZ,45.81,overcast clouds,-46.6000,168.3333,
57,Rio Grande,BR,48.94,few clouds,-32.0350,-52.0986,

# 6. Find hotels names

In [34]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": api_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    response = requests.get(base_url, params=params)
    hotels = response.json()
#hotels    
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

# 7. Drop the rows where there is no Hotel Name.

In [38]:
clean_hotel_df = hotel_df.drop(hotel_df[hotel_df["Hotel Name"]==""].index)
clean_hotel_df.count()

City                   92
Country                92
Max Temp               92
Current description    92
Lat                    92
Lng                    92
Hotel Name             92
dtype: int64

# 8. Create csv

In [37]:
# 8a. Create the output File (CSV)
file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(file, index_label="City_ID")

# 9. y 10. Generate descriptions for each row

In [39]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current weather</dt><dd>{Current description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# 11. Make figure

In [41]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig1 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig1.add_layer(heat_layer)
fig1.add_layer(marker_layer)

# 11b. Display the figure
fig1

Figure(layout=FigureLayout(height='420px'))